
<table>
    <tr>
      <th>順位</th>
      <th>ユーザーレベル</th>
      <th>ユーザーネーム</th>
      <th>総学習時間</th>
    </tr>
    <% @ranking.each.with_index(1) do |user,rank| %>
    <tr>
      <td>第<%= rank %>位</td>
      <td><%= user.level %></td>
      <td><%= user.name %></td>
      <td><%= user.studies.sum(:time) %></td>
    </tr>
    <% end %>
</table>

